.manage-order-bg {
    background-image: url(https://i.ibb.co/JKtJSP5/product-04.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}