.header-container {
    background-image: url(https://i.ibb.co/PNDdDkR/Screenshot-2021-10-29-at-23-32-17-Hot-Pizza-Page-2-Go-Moto-Food-Delivery-Word-Press-Theme.png);
    height: 100vh;
    width: auto;
    background-repeat: repeat;
}