.update-form-bg {
    background-image: url(https://i.ibb.co/SXMqVcz/item-04-600x600.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 40%;
}